# This file is needed because prisma generate inconsistent sql files across the migrations
# Prisma sometimes use case camel case table names, sometimes its not
# This results in a different behaviour in development in a other stages depending on the underlying OS
# See:
# https://gist.github.com/feltnerm/bb6e23f531803896ca1e
# https://dev.mysql.com/doc/refman/8.0/en/identifier-case-sensitivity.html
# https://github.com/prisma/prisma/issues/12053
#
# This file will be later copied inside the mysql container and enforces it to be case insensitive (by lower case
# all table names)

[mysqld]
bind-address=0.0.0.0

# http://www.percona.com/blog/2008/05/31/dns-achilles-heel-mysql-installation/
skip_name_resolve

general_log_file        = /var/lib/mysql.log
general_log             = 1

lower_case_table_names  = 1