@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-800 h-screen text-gray-100 ;
  font-family: 'Nunito Sans', sans-serif;
}

a {
  font: inherit;
}

::-webkit-scrollbar {
  width: 10px;
  height: 7px;
}

::-webkit-scrollbar-track {
  border-radius: 8px;
  background: #f1f1f1;
}
  
::-webkit-scrollbar-thumb {
  background: #303F73;
  border-radius: 5px;
}
  
::-webkit-scrollbar-thumb:hover {
  background: #0A313C;
}